body, html {
    margin: 0;
}

a {
    text-decoration: none;
}

.inputs {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

.textarea {
    font-size: 20px;
    width: 100%;
    height: 300px;
    overflow: visible;
}

.readonly {
    border: none;
    width: 100%;
    font-size: 20px;
}

.btn {
    width: 150px;
    height: 35px;
    font-size: 20px;
    border: none;
    background-color: dimgray;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

#body_container {
    width: 60%;
    margin: auto;
}

#board_name {
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#writing_btn {
    float: right;
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: dimgray;
    cursor: pointer;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

#list_container {
    margin-top: 50px;
}

.list {
    list-style:none;
    padding-left:0px;
}

.list_set {
    border: 1px solid black;
    padding: 10px;
}

.list_title {
    font-size: 25px;
}

.list_contents {
    font-size: 20px;
}

.prev_btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    background-color: dimgray;
    cursor: pointer;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.hide {
    display: none;
}