body, html {
    margin: 0;
}

a {
    text-decoration: none;
}

#body_container {
    width: 60%;
    margin: auto;
}

#board_name {
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.inputs {
    width: 600px;
    height: 30px;
    font-size: 20px;
}

.btn {
    width: 150px;
    height: 35px;
    font-size: 20px;
    border: none;
    background-color: dimgray;
    color: white;
    cursor: pointer;
}

.prev_btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    background-color: dimgray;
    cursor: pointer;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.contents {
    width: 1000px;
    height: 200px;
    font-size: 20px;
}