html
    head
        meta(charset='utf-8')
        style
            include write.css

    body
        div#grid_container
            div
                    div#title_name 게시글
                    div#title_list_container
                        each val in target
                            ul#title_list
                                li
                                    span#info_title #{val.title} |
                                    span#info_artist #{val.contents}
                                    //- span#info_like #{val.ultimate}

            div
                //- div
                //-     form(action='/update' method='post')
                //-         p
                //-             button.btn(type="submit") 수정하기


                div
                    form(action='/delete' method='post')
                        p
                            input.inputs#create_title(type="text" placeholder="비밀번호를 입력하세요" name="password")
                        p
                            button.btn(type="submit") 삭제하기

                div

                    a(href="/") 뒤로가기





